<!DOCTYPE html>
<html lang="en">

@*The purpose of this page is to create a layout for our whole site, so anything that is brought in here like the css and fonts below
will carry throughout the site and creates a lot less copy and pasting code to everything on the website.*@ 

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color:#74121D">
    <header>
        @* This is the nav bar at the top of each page. *@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><i></i>Movie Collection</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @* These are controls for each page in the nav bar.  *@
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="MyPodcasts">My Podcasts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="MovieList">The Movie List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="AddMovie">Add a Movie</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @*This drops in what is in the index.cshtml view right into here.*@ 
            @RenderBody()
        </main>
    </div>

    @*This is the footer that will be at the bottom of every page we create.*@
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Garrett Farnsworth 2021 | Joel Hilton Movie Collection | IS 413
        </div>
    </footer>

    @* Bringing in bootstrap here as well in the header, jquery, and a font kit which we use for our icons in the movielist page. *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/ea054442d6.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
