@{ ViewBag.Title = "The Joel Hilton Film Collection"; }

@*This is the index page or the page that is put into the renderbody() in the layout page. Essentially it's what the user
    sees on the home page.*@

<div class="text-center">
    <div class="container">
        <div>
            <h2 class="text-white">Welcome to the Joel Hilton Film Collection website</h2>
            <p class="text-white">Welcome to the greatest list of movies on the web!</p>
            <img src="~/Cinema.jpeg" width="500" class="border border-white" />

            <br />
            <div class="container text-center text-white">
                <h3>Add a new movie to the collection</h3>
                <a asp-action="AddMovie" class="btn btn-dark">Add a Movie!</a>
            </div>
        </div>
    </div>
</div>
