@*
    Purpose of this page is to link to the podcast of Dr. Hiltons brother as a plug :) Also embedded it for more accesibility. 
*@
@{
    ViewBag.Title = "My Podcasts";
}
<div class="text-center">
    <a class="btn btn-dark col-5" href="https://baconsale.com/" target="_blank">My Podcast Site</a>
    <br />
    <br />
    @*Embeds the website inside of this view so it can be seen easily.*@ 
    <div class="container">
        <embed src="https://baconsale.com/" width="75%" height="500px" />
    </div>
</div>